.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 10px solid black;
}

.nav-logo {
  width:  60px;
}

.nav-items {
  list-style: none;
  display: flex;
  color: rgb(34, 34, 163);
}

.nav-items > li {
  padding: 10px;
}

.nav-logo{
  display: flex;
  align-items: center;
}